.web-title {
    width: 100%;
    height: 150px;
    background-color: dodgerblue;
    text-align: center;
    color: brown;
    display: inline-block;
}

body {
    margin: 0px;
}

.container {
    margin-top: 20px;
    width: 100%;
    height: auto;
    background-color: e3e1da;
}

.q-box {
    width: 96%;
    height: 800px;
    background-color: rgb(238, 121, 222);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.q-box-color {
    width: 100px;
    height: 200px;
    background: black;
    color: white;
    text-align: center;
}

.q-box-qs {
    width: 100px;
    height: 200px;
    background-color: darkorange;
}
