@import url('https://fonts.googleapis.com/css?family=Mukta Malar');

body{
  margin:0;
  font-family:Mukta Malar;
  
}
 .web-title {
    width: 100%;
    height: 150px;
    background-color: dodgerblue;
    text-align: center;
    color: brown;
    display: inline-block;
}
a{
  text-decoration:none;
  font-size:28px;
  color:yellow;
}

.big-box{
  width:100%;
  height:auto;
 background:white;
  margin-top:5px;
}


.workspace{
  margin-top:20px;
  padding:10px 0px;
  background:white;
}

.color-box{
  padding:40px 0px;
  background:black;
  border-radius:10px;
  color:red;
  font-size:40px;
  display:flex;
  justify-content:center;
  align-items:center;
  
}



.radio{
  height:auto;
  background:white;
  padding:0px 20px;
  border:1px solid
 
}

input[type="radio"] { 
/*  -webkit-transform: scale(2.5);  */
/* transform: scale(2.5);  */
margin:0;
padding:0;
}
  
label{
  font-size:14px;
  margin:0;
  font-weight:bold;
  margin:0;
  paddin:0;
  background:gray;
  
}


.rb1{
  width:100px;
  height:30px;
  background:gray;
  
}

p{
  text-align:left;
}

.radio-group{
  display:flex;
  width:100%;
  justify-content:space-around;
  padding-bottom:40px;
  
}
